.logo {
  display: flex;
  align-items: center;
  gap: 17px;
  cursor: pointer;
  width: fit-content;
  span {
    color: #283044;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
